<!DOCTYPE html>
{{!-- <html lang="en" class="bg-[url('/Users/abbeydoyle/bootcamp/A-Day-in-the-Leaf/public/assets/leaves.png')]"> --}}
<html lang="en" class="bg-[#C4CEB4]">
      <head>
            <title>A Day in the Leaf</title>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
             <link rel="stylesheet" href="/css/index.css">
             <link rel="stylesheet" href="/css/plant.css">
            <script src="https://cdn.tailwindcss.com"></script>
            {{!-- <script src="https://kit.fontawesome.com/34cb2d0b64.js" crossorigin="anonymous"></script> --}}
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      </head>
      <body>
            {{{ body }}}
      </body>
</html>