{{!-- main html view, body populated for each subpage with correlating views --}}
<!DOCTYPE html>
<html lang="en" class="html" id="mainhtml">
      <head>
            <title>A Day in the Leaf</title>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
             <link rel="stylesheet" href="/css/index.css">
            <script src="https://cdn.tailwindcss.com"></script>
            <script src="https://kit.fontawesome.com/34cb2d0b64.js" crossorigin="anonymous"></script>
      </head>
      <body>
            {{{ body }}}
      </body>
</html>