html {
      background-image: url(../assets/doodle.png);
      font-family: serif;
      /* background-color: #eae3ba; */
}

/* #plantimage {
      background-image: url(../assets/placeholder.png);
      background-size: contain;
} */
