
.html {
      background-image: url(../assets/doodle.png);
      font-family: serif;
      background-color: #C4CEB4;
}

/* #plantimage {
      background-image: url(../assets/placeholder.png);
      background-size: contain;
} */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.hide {
    display: none;
}

.graveyardimage {
    background-image: url(../assets/deadtrees.png);
    font-family: serif;
    background-color: #8c9281;
}