/* default background format */
.html {
      background-image: url(../assets/leaves.png);
      font-family: serif;
      background-color: #C4CEB4;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.hide {
    display: none;
}

/* graveyard background format */
.graveyardimage {
    background-image: url(../assets/deadtrees.png);
    font-family: serif;
    background-color: #8c9281;
}

/* media queries largely done in tailwind */
/* Large smartphones*/
@media screen and (max-width: 768px) {
    .plantimage {
            display:none;
    }

}
    
/* Small smartphones */
@media screen and (max-width: 576px) {
    .plantimage {
        display:none;
    }
}